/*h1 {
	border: 2px solid pink;
}*/

.jumbotron {
	background-color: #8b4513;
	color: white;
	letter-spacing: 1px;
}

#display-clock {
	font-size: 24px;
	font-weight: bold;
	color: white;
	letter-spacing: 1px;
}

.panel-primary .panel-heading {
	background-color: #4c70ba;
	color: white;
	letter-spacing: 1px;
}

.panel-default .panel-heading {
	background-color: #4c70ba;
	color: white;
	letter-spacing: 1px;
}

.btn-info {
	background-color: #4c70ba;
	color: white;
	letter-spacing: 1px;
}
